table {
	color: blue
	}	

[colspan="2"]{
	color: red
}
.fig{
	text-align: center;
}
   	.block1 { 
    width: 200px; 
    background: #ccc;
    padding: 5px;
    padding-left: : 20px; 
    border: solid 1px yellow; 
    : : left;
    margin:auto;}

    	.rightpic {
    	float: right; 
    	margin: 0 0 5pxs 5px;}
    body{
    	background: #00ff00
    }
.trol{
	text-align:center;
}
  
	
